<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">




	<bean id="mailDao" class="com.single.desktopoa.module.mail.dao.impl.MailDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="fileDao" class="com.single.desktopoa.module.file.dao.impl.FileDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="counterSignDao" class="com.single.desktopoa.module.file.dao.impl.CounterSignDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="personDao" class="com.single.desktopoa.common.dao.impl.PersonDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="noticeDao" class="com.single.desktopoa.module.notice.dao.NoticeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="deptmentDao" class="com.single.desktopoa.common.dao.impl.DeptmentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
